body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.hidden { display: none; }

.login, .forum {
  max-width: 600px;
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.topic {
  background: #1e293b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.login2 {
  max-width: 600px;
  margin: auto;
}

.admin {
  color: #facc15;
  font-weight: bold;
}

.delete {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}